/*  
	COLORS:
	main grey:        #E1E2E1
	primary blue:     #03A9F4
	secondary yellow: #F4C703
	tertiary red:     #F40331

	medium blue: #0398db;

	dark blue:  #007AC1
	light blue: #2EBCFC
	dark yellow: #BD9700
	light yellow: #FFFA50
*/

/*  
	TEXT COLORS:
*/

/* FONT */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";
* { font-family: Raleway; }

html, body { font-size: 1em; }
main {
	padding: 0;
	margin: 0;
	padding-top: 3em;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	background-color: #E1E2E1;
	z-index: 5;
}

nav {
	background-color: #03A9F4;
}

/* BOX SHADOW */
.shadow { box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1); }
.shadow:hover { box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08); }

/* BACKGROUNDS */
.bg-lt-blue { background-color: #2EBCFC; }
.bg-red     { background-color: #F40331; }
.bg-yellow  { background-color: #F4C703; }
.bg-white   { background-color: #FFFFFF; }
.bg-lt-grey { background-color: #777777; }
.bg-dk-grey { background-color: #333333; }

/*BUTTON COLORS*/
button {
	background-color: #F4C703 !important;
	color: #000 !important;
}

.btn-a {
	background-color: #F4C703 !important;
	color: #000 !important;
}

/* Offset Additions */
.off-tenth { margin-left: 10%; }
.off-15 { margin-left: 15%; }

/* Misc */
.bot-bor { border-bottom: 1px solid #bbb !important; }
.border { border: 2px solid #777; }

.transparent { opacity: 0.5; }

.card-tp { border: none; background-color: rgba(0,0,0,0) !important; }

.event {
	padding: 10px;
	border: none;
	border-radius: 4px;
}

.link {
	text-decoration: none;
	color: #000;
}

/* Bootstrap Style Custom */
ol {
	margin-top: 0;
}
.breadcrumb {
	padding: 3px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #007AC1;
	border-radius: 4px;
}
.breadcrumb > .active {
	color: #EEE;
}
.breadcrumb > li {
	display: inline-block;
	margin-top: 5px;
}
.breadcrumb > li > a{
	color: #BD9700;
}
.breadcrumb > li + li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}

/* Container */
.container { 
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}	