/*  
	COLORS:
	primary:   #1A237E
	secondary: #F4511E
	body grey: #333333

	light primary: #232FA8

*/

/*  
	TEXT COLORS:
*/

/* FONT */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";
* { font-family: Raleway; }

html, body { font-size: 1em; }
main {
	padding: 0;
	margin: 0;
	padding-top: 3em;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	background-color: #636463;
	color: #EBEBEB;
	z-index: 5;
}

nav {
	background-color: #1A237E;
}
.brand *, .pseudo.button { color: #EBEBEB; }

input { color: #333; }

/* BOX SHADOW */
.shadow { box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1); }
.shadow:hover { box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08); }

/* BACKGROUNDS */
.bg-lt-blue { background-color: #232FA8; }
.bg-red     { background-color: #F40331; }
.bg-orange  { background-color: #F4511E; color: #333; }
.bg-yellow  { background-color: #F4C703; color: #333; }
.bg-blue    { background-color: #03A9F4; }
.bg-white   { background-color: #FFFFFF; }
.bg-lt-grey { background-color: #777777; }
.bg-dk-grey { background-color: #333333; }

/* BUTTONS */
.default {
	background-color: #F4511E;
	color: #000;
}

.btn-a {
	background-color: #F4511E !important;
	color: #000 !important;
}

.action-btn-group {
	position: fixed;
	bottom: 25px;
	right: 25px;
	float: right;
}
.action-btn {
	width: 75px;
	height: 75px;
	border-radius: 100%;
	margin-top: 20px;
	padding: 10px;
	cursor: pointer;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

/* Grid Size Additions */
.tenth { width: 10%; }
.nine-tenth { width: 90%; }

/* Offset Additions */
.off-tenth { margin-left: 10%; }
.off-15 { margin-left: 15%; }

/* Misc */
.bot-bor { border-bottom: 1px solid #bbb !important; }
.border { border: 2px solid #777; }
.no-border { border: none !important; }

.transparent { opacity: 0.5; }

/* Cards */
.card-tp     { border: none; background-color: rgba(0,0,0,0) !important; }
.card-blue   { border: none; background-color: #03A9F4 !important; }
.card-yellow { border: none; background-color: #F4C703 !important; }
.card-red    { border: none; background-color: #F40331 !important; }
.card-orange { border: none; background-color: #F4511E !important; }

.event {
	padding: 10px;
	border: none;
	border-radius: 4px;
}

.link {
	text-decoration: none;
	color: #000;
}

/* Bootstrap Style Custom */
ol {
	margin-top: 0;
}
.breadcrumb {
	padding: 3px 15px;
	margin-bottom: 20px;
	list-style: none;
	/*background-color: #007AC1;*/
	background-color: #F4511E;
	border-radius: 4px;
}
.breadcrumb > .active {
	color: #000;
}
.breadcrumb > li {
	display: inline-block;
	margin-top: 5px;
}
.breadcrumb > li > a{
	color: #007AC1;
}
.breadcrumb > li + li:before {
	padding: 0 5px;
	color: #777;
	content: "/\00a0";
}

/* Container */
.container { 
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}	